@import url(./config/global.css);


a {
	cursor: pointer;
}

button {
	background-color: transparent;
	border: none;
}

.hero {
	display: grid;
	grid-template-areas:
		"menu"
		"pagina-principal";
	grid-template-columns: 1fr;
	grid-template-rows: auto 90vh;
}

.principal {
	grid-area: pagina-principal;
	display: grid;
	justify-items: center;
}

.contenedor {
	display: grid;
	grid-template-areas:
		"datos-usuario datos-usuario"
		"imagen textos"
		"imagen botones";
	grid-template-rows: 10vh 60vh 20vh;
}

.recordatorios {
	display: grid;
	grid-template-areas:
		"titulo"
		"informacion";
	grid-area: textos;
}

.info-usuario{
	display: grid;
	align-items: center;
	grid-area: datos-usuario;
}

.titulo {
	grid-area: titulo;
}

.titulo h1 {
	text-align: center;
}

.informacion {
	grid-area: informacion;
	display: grid;
	row-gap: 2vw;
	overflow-y: auto;
	width: 35vw;
}

.informacion .contenedor {
	display: grid;
	grid-template-areas:
		"fecha hora"
		"informacion dia";
	grid-template-rows: 7vh 10vh;
	column-gap: 2vw;
}

.informacion .informacion-hora,
.informacion-dia {
	display: grid;
	justify-content: center;
	align-items: center;
}

.informacion .informacion-fecha,
.informacion-recordatorio {
	padding: 0 1vw;
}

.informacion .informacion-fecha {
	grid-area: fecha;
	display: grid;
	align-items: center;
}

.informacion .informacion-recordatorio {
	grid-area: informacion;
}

.informacion .informacion-hora {
	border-left: 1px solid black;
	grid-area: hora;
}

.informacion .informacion-dia {
	border-left: 1px solid black;
	grid-area: dia;
}

.informacion .informacion-fecha p {
	font-size: 1.6vw;
	font-weight: bold;
}

.informacion .informacion-recordatorio {
	width: 20vw;
}

.informacion .informacion-recordatorio p {
	font-size: 1.15vw;
}

.informacion .informacion-hora p {
	font-size: 2.2vw;
}

.informacion .informacion-dia p {
	font-size: 1.7vw;
}

.botones {
	grid-area: botones;
	display: flex;
	column-gap: 1vw;
	align-items: center;
	justify-content: end;
}

.botones a {
	text-align: center;
	padding: 0.7vw 2.5vw;
	border-radius: 0.5vw;
	text-decoration: none;
	color: var(--negro);
	font-weight: bold;
	background-color: var(--anaranjado);
}

.botones a:hover {
	background-color: rgb(250, 156, 171);
}

.pagina-principal {
	grid-area: pagina-principal;
	display: grid;
	margin: 0vh 10vw;
	align-items: center;
}

/* CONTENIDO MENU */

.menu {
	grid-area: menu;
	display: grid;
	height: 10vh;
	background-color: var(--negro);
}

.menu-contenedor {
	display: grid;
	grid-template-areas:
		"imagen enlaces";
	align-items: center;
	justify-content: space-between;
	margin-left: 5vw;
	margin-right: 5vw;
}

.menu-imagen {
	grid-area: imagen;
}

.menu-imagen img {
	height: 7vh;
	width: auto;
}

.menu-lista {
	grid-area: enlaces;
}

.menu-contenedor .menu-lista {
	display: flex;
}

.menu-contenedor .menu-lista .menu__item {
	color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a {
	font-size: 1.5vw;
	margin-left: 2vw;
	color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a:hover {
	color: var(--anaranjado);
}

.menu-contenedor .menu-lista .menu__item--active a {
	font-weight: bold;
	border-bottom: 1px solid var(--blanco);
	color: var(--blanco);
}

.calendario {
	height: 70vh;
	width: 40vw;
	background: #fff;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.12);
}

.calendario header {
	display: flex;
	align-items: center;
	padding: 2vh 2vw;
	justify-content: space-between;
}

header .icons {
	display: flex;
}

header .icons span {
	height: 6vh;
	width: 6vh;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 6vh;
	font-size: 2vw;
	user-select: none;
	border-radius: 50%;
}

.icons span:last-child {
	margin-right: -10px;
}

header .icons span:hover {
	background: #f2f2f2;
}

header .current-date {
	font-size: 2vw;
	font-weight: 500;
}

.calendar {
	padding: 20px;
}

.calendar ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
}

.calendar .days {
	margin-bottom: 20px;
}

.calendar li {
	color: #333;
	width: calc(100% / 7);
	font-size: 1.07rem;
}

.calendar .weeks li {
	font-weight: 500;
	cursor: default;
}

.calendar .days li {
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 30px;
}

.days li.inactive {
	color: #aaa;
}

.days li.active {
	color: var(--negro);
	font-weight: 800;
}

.days li::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.days li.active::before {
	background: var(--anaranjado);
}

.days li:not(.active):hover::before {
	background: #f2f2f2;
}

.container {
    display: grid;
    grid-template-areas:
        "botones"
        "tabla"
        "paginacion";
}


.botones .boton-cantidad-datos-mostrar,
.boton-eliminar,
.boton-busqueda,
.boton-actualizar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.tabla-tickets {
    grid-area: tabla;
    overflow-x: auto;
}

.tabla-paginacion {
    grid-area: paginacion;
    display: grid;
    place-content: center;
}

.tabla-tickets .tabla__tickets {
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    height: 40vh;
	}

#tablaTickets {
    grid-area: tabla;
}

#tablaTickets {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

#tablaTickets th,
#tablaTickets td {
    padding: 0.5vw;
}

#tablaTickets th {
    background-color: var(--pink);
    font-weight: bold;
    text-transform: capitalize;
}

#tablaTickets tr:nth-child(even) {
    background-color: #f9f9f9;
}


/* Modal */
.modal {
	display: none;
	/* POr defecto no se muestran en pantalla hasta que se abran */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-modificar .modal-contenido {
	height: 80vh;
}

.modal-modificar .modal-cuerpo {
	display: flex;
	column-gap: 2vw;
	margin-left: 5vw;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.modal-contenido {
	display: grid;
	height: 85vh;
	background-color: #fefefe;
	margin: 2% auto;
	padding: 20px;
	width: 50%;
	border-radius: 0.4vw;
}

.modal-contenido .modal-cabecera .modal__descripcion {
	padding: 1.5vw 1vw;
	text-align: start;
}

.modal-consultar .modal-cuerpo .campo .campo-id {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.campo__botones .fa-solid {
	color: #131417;
}

.modal-cabecera {
	text-align: center;
}

.modal__titulo {
	font-size: 5vh;
	text-align: start;
}

.modal__descripcion {
	color: #4e4e4e;
	font-size: 1.2vw;
	padding: 0 2vw;
}

.combobox {
	width: 20vw;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.modal-cuerpo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	padding: 0 3vw;
	column-gap: 2vw;
}

/* The Close Button */
.btn-cerrar-modal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.btn-cerrar-modal:hover,
.btn-cerrar-modal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

input[type=text],
input[type=date] {
	background-color: var(--anaranjado);
	border: none;
}

select {
	background-color: var(--anaranjado);
	border: none;
}

input[type=text],
input[type=date] {
	width: 20vw;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.modal-pie {
	display: flex;
	justify-content: end;
	align-items: center;
}

.modal-pie button {
	margin-right: 3.1vw;
	background-color: var(--anaranjado);
	padding: 0.5vw 3vw;
	border-radius: 0.5vw;
	font-weight: bold;
	cursor: pointer;
}


@media only screen and (max-width: 600px) {

	.hero {
		display: grid;
		grid-template-areas:
			"menu"
			"pagina-principal";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	/* CONTENIDO MENU */
	.menu {
		height: 20vh;
	}

	.menu-contenedor {
		display: grid;
		grid-template-areas:
			"titulo"
			"enlaces";
		margin: auto;
		row-gap: 0vh;
	}

	.menu-contenedor .menu-titulo .menu__titulo {
		font-size: 8vw;
	}

	.menu-contenedor .menu-lista .menu__item a {
		font-size: 5vw;
		margin-left: 3vw;
	}

	.pagina-principal {
		padding: 10vw 0;
	}

	.principal-grilla {
		display: grid;
		grid-template-areas:
			"textos"
			"imagen"
			"botones";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 10vh;
		row-gap: 5vh;
	}

	.principal__titulo {
		text-align: center;
		font-size: 18vw;
	}

	.principal__imagen {
		height: 35vh;
		width: auto;
	}

	.principal-botones {
		justify-content: center;
	}

	.principal-botones a {
		text-align: center;
		padding: 4vw;
		font-size: 4vw;
		border-radius: 0.5vw;
		text-decoration: none;
		color: var(--blanco);
		background-color: var(--pink);
	}

}