@import url(normalice.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

:root{
    /*--blanco: rgb(255, 255, 255);*/
    --blanco: white;
    --negro: rgb(30, 30, 30);
    --grisClaro: rgb(108, 108, 108);
    --anaranjado: #FFBD59;
}

.btn{
    margin-left: 1vw;
    padding: 0.7vw 3vw;
    border: 0;
    border-radius: 0.1875em;
    background-color: #7066e0;
    box-shadow: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}